.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1000px;
    justify-content: flex-end;
    position: relative;
}
    .footerContainer{
        height: 500px;
        display: flex;
        flex-direction: column;
        background-image:radial-gradient(farthest-side at 50% 0%,#45869E, #042B39);
        align-items: center;
        position: relative;
    }
.mobileContainer{
    display:flex;
    flex-direction: row;
    position:relative   ;
    width: 100%;
    height: 100%;
}
.mobileImage{
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 50%;
}
.mobileText{
    font-size: xx-large;
    font-family: calibri;
    font-weight:bolder;
    margin-bottom: 3%;
}
.download{
    margin-top: 20px;
}

.mobileTextContainer{
    left:10%;
    width: 40%;
    top:40%;
    position: absolute;
   text-align: right;
}
.watermark{
    color:white;
    margin-top: 5%;
    height: 100%;
    width: 80%;
    align-items: center;
    display: flex;
    flex-direction:column ;
    text-align: center;
   }
.title{
    font-size: large;
    font-family: calibri;
    letter-spacing: 1px;
    font-weight: 600;
}
.description{
    margin-top: 1%;
    text-align: center;
    font-family: calibri;
}
.socialMedia{
    margin-top: 5%;
    display: flex;
    flex-direction: row;
}
.partners{
    position: absolute;
    bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items:center;
    
}

.copyright{
    position: absolute;
    bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items:center;
    color: rgba(255,255,255,0.6);
    font-size: 10px;
    
    font-family: 'proxima-nova';
    letter-spacing: 1px;
    width: 220px;
    font-weight: bold;

}
@media only screen and (max-width: 600px) {
    .mobileContainer{
        display:flex;
        flex-direction: column;
        position:relative  ;
        width: 100%;
        height: 100%;
        padding-top:0%;
        padding-bottom:0%;
        margin-top: 0%;
        margin-bottom:0%;
        justify-content: center;
        align-items:center;
        padding:0%;
        
    }
    .footerContainer{
       height:100%;
       width:100%;
        display: flex;
        flex-direction:column;
        background-image:radial-gradient(farthest-side at 50% 0%,#45869E, #042B39);
        align-items: center;
        position: relative;
       padding-top:0%;
       bottom: 0%;
       margin-top:0%;
       margin-left:0%;
       overflow: hidden;
    }
    .mobileText{
        font-size: large;
        font-family: calibri;
        font-weight:bolder;
        margin-bottom:auto;
        padding-top:0%;
        margin-top:0%;
        text-align:center;
        display: flex;
        justify-content:center;
        margin-right:15%;
    }
    .container{
        width: 100%;
        display: flex;
        flex-direction:column;
        align-items: center;
        height:100%;
        /* justify-content: flex-end; */
        position: relative;
    }
    .partners{
        position: relative;
        bottom: 0%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        align-items:center;
        padding-top:auto;
        max-width:100%;
        padding-left: 10%;

    }
    .watermark{
        color:white;
        margin-top: 5%;
        height: 100%;
        max-width: 100%;
        align-items: center;
        display: flex;
        flex-direction:column ;
        text-align: center;
        margin-top:auto;
        padding-right:0%;
        padding-left:0%;
        
       }
    .mobileTextContainer{
        width:auto;
        position: relative;
       justify-content: center;
       align-items:center;
        margin-bottom:0%;
        height:100%;
     }
       .mobileImage{
        position: relative;
        justify-content: center;
        padding-right:auto;
        padding-top:0%;
        top:0%;
        padding-left:auto;
        align-items:center;
    }
    .download{
        display:flex;
        /* margin-top: 20px; */
        justify-content: center;
        position:relative;
        /* padding-right:30%; */
        /* bottom:50%; */
        /* padding-left: 0%; */
        margin-top:auto;
        margin-right:15%;
        height:8vh;
    }
    .lorem{
        margin-top: auto;
        text-align: center;
        justify-content:center;
        padding-right:15%;
    }
    .description{
        margin-top: auto;
        text-align: center;
        font-family: calibri;
        justify-content:center;
    }
}
    @media only screen 
    and (min-device-width : 600px) 
    and (max-device-width : 1367px){
        .mobileContainer{
            display:flex;
            flex-direction: column;
            position:relative  ;
            width: 100%;
            height: 100%;
            padding-top:0%;
            padding-bottom:0%;
            margin-top: 0%;
            margin-bottom:0%;
            justify-content: center;
            align-items:center;
            padding:0%;
            
        }
        .footerContainer{
           height:100%;
           width:100%;
            display: flex;
            flex-direction:column;
            background-image:radial-gradient(farthest-side at 50% 0%,#45869E, #042B39);
            align-items: center;
            position: relative;
           padding-top:0%;
           bottom: 0%;
           margin-top:0%;
           margin-left:0%;
           overflow: hidden;
        }
        .mobileText{
            font-size: large;
            font-family: calibri;
            font-weight:bolder;
            margin-bottom:auto;
            padding-top:0%;
            margin-top:0%;
            text-align:center;
            display: flex;
            justify-content:center;
            margin-right:15%;
        }
        .container{
            width: 100%;
            display: flex;
            flex-direction:column;
            align-items: center;
            height:100%;
            /* justify-content: flex-end; */
            position: relative;
        }
        .partners{
            position: relative;
            bottom: 0%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-content: center;
            align-items:center;
            padding-top:auto;
            max-width:100%;
            padding-left: 10%;
    
        }
        .watermark{
            color:white;
            margin-top: 5%;
            height: 100%;
            max-width: 100%;
            align-items: center;
            display: flex;
            flex-direction:column ;
            text-align: center;
            margin-top:auto;
            padding-right:0%;
            padding-left:0%;
            
           }
        .mobileTextContainer{
            width:auto;
            position: relative;
           justify-content: center;
           align-items:center;
            margin-bottom:0%;
            height:100%;
         }
           .mobileImage{
            position: relative;
            justify-content: center;
            padding-right:auto;
            padding-top:0%;
            top:0%;
            padding-left:auto;
            align-items:center;
        }
        .download{
            display:flex;
            /* margin-top: 20px; */
            justify-content: center;
            position:relative;
            /* padding-right:30%; */
            /* bottom:50%; */
            /* padding-left: 0%; */
            margin-top:auto;
            margin-right:15%;
            height:8vh;
        }
        .lorem{
            margin-top: auto;
            text-align: center;
            justify-content:center;
            padding-right:15%;
        }
        .description{
            margin-top: auto;
            text-align: center;
            font-family: calibri;
            justify-content:center;
        }
}